# Data Wrangling- La cirugia de los datos

In [3]:
import pandas as pd

In [8]:
data=pd.read_csv("../datasets/customer-churn-model/Customer Churn Model.txt")

In [9]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Crear un subconjunto de datos

In [10]:
account_length=data["Account Length"]

In [11]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [13]:
type(account_length)

pandas.core.series.Series

In [14]:
subset=data[["Account Length","Phone","Eve Charge","Day Calls"]]

In [15]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [16]:
type(subset)

pandas.core.frame.DataFrame

In [19]:
desired_columms=["Account Length","Phone","Eve Charge","Night Calls"]
subset=data[desired_columms]
subset.head()

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [25]:
desired_columms=["Account Length","VMail Message","Churn?"]
desired_columms

['Account Length', 'VMail Message', 'Churn?']

In [26]:
all_colummns_list=data.columns.values.tolist()
all_colummns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [27]:
sublist=[x for x in all_colummns_list if x not in desired_columms]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls']

In [28]:
subset=data[sublist]
subset.head()

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,415,382-4657,no,yes,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,415,371-7191,no,yes,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,415,358-1921,no,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,408,375-9999,yes,no,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,415,330-6626,yes,no,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [29]:
data[1:25]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.
20,FL,147,415,396-5800,no,no,0,155.1,117,26.37,...,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False.
21,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
22,AZ,130,415,358-1958,no,no,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False.
23,SC,111,415,350-2565,no,no,0,110.4,103,18.77,...,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False.
24,VA,132,510,343-4696,no,no,0,81.1,86,13.79,...,72,20.84,237.0,115,10.67,10.3,2,2.78,0,False.

In [30]:
data[10:35]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.
20,FL,147,415,396-5800,no,no,0,155.1,117,26.37,...,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False.
21,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
22,AZ,130,415,358-1958,no,no,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False.
23,SC,111,415,350-2565,no,no,0,110.4,103,18.77,...,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False.
24,VA,132,510,343-4696,no,no,0,81.1,86,13.79,...,72,20.84,237.0,115,10.67,10.3,2,2.78,0,False.
25,NE,174,415,331-3698,no,no,0,124.3,76,21.13,...,112,23.55,250.7,115,11.28,15.5,5,4.19,3,False.
26,WY,57,408,357-3817,no,yes,39,213.0,115,36.21,...,112,16.24,182.7,115,8.22,9.5,3,2.57,0,False.
27,MT,54,408,418-6412,no,no,0,134.3,73,22.83,...,100,13.22,102.1,68,4.59,14.7,4,3.97,3,False.
28,MO,20,415,353-2630,no,no,0,190.0,109,32.30,...,84,21.95,181.5,102,8.17,6.3,6,1.70,0,False.
29,HI,49,510,410-7789,no,no,0,119.3,117,20.28,...,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False.
30,IL,142,415,416-8428,no,no,0,84.8,95,14.42,...,63,11.62,250.5,148,11.27,14.2,6,3.83,2,False.
31,NH,75,510,370-3359,no,no,0,226.1,105,38.44,...,107,17.13,246.2,98,11.08,10.3,5,2.78,1,False.
32,LA,172,408,383-1121,no,no,0,212.0,121,36.04,...,115,2.65,293.3,78,13.20,12.6,10,3.40,3,False.
33,AZ,12,408,360-1596,no,no,0,249.6,118,42.43,...,119,21.45,280.2,90,12.61,11.8,3,3.19,1,True.
34,OK,57,408,395-2854,no,yes,25,176.8,94,30.06,...,75,16.58,213.5,116,9.61,8.3,4,2.24,0,False.

In [31]:
data[:8]#es lo mismo q data de 0 a 8

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.

In [35]:
data[1:8]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.

In [41]:
## Usuarios con Day mins > 350
data1=data[data["Day Mins"]>350]
data1

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.4,253.9,100,11.43,10.1,9,2.73,1,True.

In [42]:
##usuarios de Nueva York(state="NY")
data2=data[data["State"]=="NY"]
data2

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
373,NY,32,415,364-3567,no,no,0,164.8,98,28.02,...,96,19.54,167.3,108,7.53,14.8,2,4.00,2,False.
530,NY,47,415,391-1348,no,yes,37,163.5,77,27.80,...,102,17.26,232.0,87,10.44,7.8,4,2.11,2,False.
539,NY,59,408,415-4609,no,no,0,107.8,113,18.33,...,125,18.41,217.5,92,9.79,9.9,3,2.67,2,False.
551,NY,157,415,421-1189,no,no,0,224.5,111,38.17,...,99,17.06,116.6,118,5.25,11.5,2,3.11,2,False.
597,NY,39,408,356-1889,no,no,0,160.4,68,27.27,...,103,8.72,235.3,106,10.59,9.1,5,2.46,2,False.
650,NY,140,415,333-8180,no,no,0,235.5,81,40.04,...,130,21.86,103.1,111,4.64,11.5,4,3.11,2,False.
678,NY,65,510,383-8878,no,no,0,195.4,110,33.22,...,109,15.40,178.5,105,8.03,8.9,4,2.40,0,False.
754,NY,41,415,393-9985,no,no,0,209.9,105,35.68,...,105,10.36,253.7,104,11.42,9.6,4,2.59,1,False.
964,NY,9,408,353-1941,no,yes,31,193.8,130,32.95,...,98,17.22,191.2,102,8.60,13.3,2,3.59,1,False.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.
994,NY,147,510,421-7205,no,yes,33,251.5,107,42.76,...,110,19.90,213.4,87,9.60,10.4,6,2.81,3,False.
1007,NY,181,408,340-9200,no,no,0,143.3,91,24.36,...,58,16.62,223.3,95,10.05,6.0,7,1.62,1,False.
1011,NY,11,415,401-4650,no,no,0,143.4,130,24.38,...,50,24.60,194.0,100,8.73,9.7,6,2.62,2,False.
1013,NY,104,415,338-3781,no,no,0,156.2,93,26.55,...,54,16.41,222.7,94,10.02,13.1,5,3.54,1,False.
1044,NY,94,510,417-3046,yes,no,0,243.2,109,41.34,...,88,12.50,94.9,99,4.27,7.2,4,1.94,4,False.
1065,NY,68,415,349-4762,no,yes,29,239.5,82,40.72,...,105,17.32,167.8,70,7.55,9.9,6,2.67,0,False.
1073,NY,44,510,407-9244,no,no,0,143.2,77,24.34,...,114,14.43,215.8,77,9.71,7.6,4,2.05,1,False.
1077,NY,108,415,344-7197,no,no,0,154.2,123,26.21,...,86,9.55,246.4,75,11.09,15.4,4,4.16,4,True.
1110,NY,117,415,415-8780,no,no,0,144.6,115,24.58,...,66,22.00,253.2,113,11.39,7.4,9,2.00,2,False.
1124,NY,167,415,409-7494,no,no,0,166.4,85,28.29,...,135,20.67,229.2,95,10.31,9.9,5,2.67,1,False.
1148,NY,122,415,352-6833,no,no,0,173.6,110,29.51,...,84,7.79,211.7,103,9.53,9.7,7,2.62,3,False.
1278,NY,163,408,413-2241,no,no,0,247.7,77,42.11,...,108,22.91,167.3,82,7.53,9.6,7,2.59,0,True.
1309,NY,137,415,389-2540,yes,no,0,174.0,123,29.58,...,115,13.71,260.7,98,11.73,11.4,3,3.08,2,False.
1366,NY,89,415,408-7015,no,no,0,89.5,66,15.22,...,104,15.24,225.1,116,10.13,12.3,1,3.32,3,False.
1390,NY,40,510,379-2991,no,no,0,115.7,105,19.67,...,113,10.86,107.5,91,4.84,9.3,6,2.51,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2327,NY,82,415,356-5475,no,no,0,167.1,77,28.41,...,79,11.20,187.4,98,8.43,9.4,1,2.54,6,True.
2336,NY,122,415,403-9468,no,yes,37,163.0,107,27.71,...,118,26.59,200.0,85,9.00,11.6,5,3.13,1,False.
2369,NY,112,415,391-1737,no,no,0,174.3,123,29.63,...,124,11.92,215.4,89,9.69,9.0,6,2.43,4,True.
2390,NY,122,510,397-3943,no,no,0,145.6,102,24.75,...,111,24.20,228.2,91,10.27,12.2,5,3.29,0,False.
2401,NY,126,415,352-7752,yes,no,0,239.7,87,40.75,...,92,23.94,183.5,113,8.26,11.4,1,3.08,1,True.
2402,NY,77,415,388-9285,no,yes,33,143.0,101,24.31,...,102,18.04,104.9,120,4.72,15.3,4,4.13,5,True.
2435,NY,112,415,404-9504,no,yes,23,286.6,79,48.72,...,102,26.80,193.9,101,8.73,10.3,6,2.78,1,False.
2450,NY,137,510,338-7955,no,no,0,109.8,120,18.67,...,86,19.59,255.8,103,11.51,11.9,6,3.21,1,False.
2513,NY,86,510,387-2041,no,no,0,70.7,125,12.02,...,113,17.94,174.6,107,7.86,0.0,0,0.00,2,False.
2581,NY,123,415,329-6731,no,no,0,123.2,104,20.94,...,117,16.15,170.3,95,7.66,12.9,5,3.48,4,True.
2600,NY,148,408,407-7464,no,no,0,208.4,120,35.43,...,99,14.82,310.7,105,13.98,11.2,4,3.02,1,False.
2652,NY,111,415,382-4872,no,no,0,181.8,117,30.91,...,91,13.44,266.2,123,11.98,9.7,9,2.62,0,False.
2803,NY,104,415,389-6081,no,no,0,264.0,108,44.88,...,75,11.24,177.7,91,8.00,10.6,8,2.86,3,False.
2857,NY,160,408,352-6084,no,no,0,216.8,77,36.86,...,117,17.62,228.6,117,10.29,5.6,2,1.51,1,False.
2881,NY,91,415,377-9829,no,yes,20,146.1,98,24.84,...,104,23.58,137.7,100,6.20,6.2,3,1.67,1,False.
2925,NY,168,408,333-5729,no,no,0,163.4,134,27.78,...,87,20.41,164.0,147,7.38,11.6,2,3.13,2,True.
2959,NY,125,415,367-3950,no,no,0,233.3,65,39.66,...,93,17.83,210.6,109,9.48,9.1,4,2.46,1,False.
2981,NY,46,415,414-5177,no,no,0,122.2,67,20.77,...,62,14.21,194.8,98,8.77,9.7,6,2.62,1,False.
2987,NY,131,408,406-8995,yes,no,0,122.3,83,20.79,...,94,10.10,147.9,95,6.66,13.7,3,3.70,3,True.
3012,NY,91,510,394-8256,no,no,0,109.8,100,18.67,...,104,16.12,206.7,85,9.30,11.1,3,3.00,1,False.
3081,NY,204,415,371-9414,no,no,0,174.3,85,29.63,...,95,21.60,176.4,96,7.94,5.9,3,1.59,6,False.
3086,NY,54,510,390-6932,yes,no,0,236.3,91,40.17,...,130,12.99,160.3,98,7.21,11.2,8,3.02,3,False.
3110,NY,31,408,401-7335,no,yes,28,171.8,116,29.21,...,125,20.46,245.5,80,11.05,10.6,7,2.86,1,False.
3129,NY,115,510,402-1607,no,yes,16,133.3,110,22.66,...,111,15.78,161.5,113,7.27,5.6,4,1.51,2,False.
3176,NY,122,415,386-6580,no,no,0,141.4,128,24.04,...,70,12.44,123.0,75,5.54,8.1,4,2.19,0,False.
3219,NY,150,415,421-6268,no,yes,35,139.6,72,23.73,...,170,28.29,213.8,105,9.62,8.8,2,2.38,2,False.
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.

In [44]:
##AND -> &
data3=data[(data["Day Mins"]>300)&(data["State"]=="NY")]
data3.shape##imprime el num de filas y columnas

(2, 21)

In [46]:
##OR ->|
data4=data[(data["Day Mins"]>300)|(data["State"]=="NY")]
data4.shape

(124, 21)

In [49]:
data5=data[data["Day Calls"]<data["Night Calls"]]
data5.shape

(1626, 21)

In [50]:
data6=data[data["Day Mins"]<data["Night Mins"]]
data6.shape

(2051, 21)

In [ ]:
##minutos de dia, de noche y longitud de la cuenta de los primeros 50 individuos

In [53]:
subset_first_50=data[["Day Mins","Night Mins","Account Length"]][:50]
subset_first_50.shape

(50, 3)

In [55]:
subset[:10]

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,415,382-4657,no,yes,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,415,371-7191,no,yes,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,415,358-1921,no,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,408,375-9999,yes,no,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,415,330-6626,yes,no,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3
5,AL,510,391-8027,yes,no,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0
6,MA,510,355-9993,no,yes,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3
7,MO,415,329-9001,yes,no,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0
8,LA,408,335-4719,no,no,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1
9,WV,415,330-8173,yes,yes,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0

In [61]:
data.iloc[1:10,3:6]##primero las 10 filas y columnas de 3 a 6

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [ ]:
data.iloc[:,3:6]#todas las filas para las columnas entre l 3 y l 6

data.iloc[1:10,:]#todas las columnas para las filas entre l 1 y la 10

In [62]:
data.iloc[1:10,[2,5,7]] las 10 primeras filas para las columnas 2,5,7

   Area Code VMail Plan  Day Mins
1        415        yes     161.6
2        415         no     243.4
3        408         no     299.4
4        415         no     166.7
5        510         no     223.4
6        510        yes     218.2
7        415         no     157.0
8        408         no     184.5
9        415        yes     258.6

In [63]:
data.iloc[[1,5,8,12],:]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.

In [65]:
data.loc[[1,5,8,36],["Area Code","VMail Plan","Day Mins"]]##acceso por etiqueta

    Area Code VMail Plan  Day Mins
1         415        yes     161.6
5         510         no     223.4
8         408         no     184.5
36        408        yes     146.3

In [66]:
data["Total Mins"]=data["Day Mins"]+data["Night Mins"]+data["Eve Mins"]

In [67]:
data["Total Mins"]

0       707.2
1       611.5
2       527.2
3       558.2
4       501.9
5       647.9
6       779.3
7       471.9
8       751.9
9       807.0
10      566.4
11      547.1
12      374.8
13      596.5
14      630.9
15      811.3
16      566.6
17      538.5
18      568.2
19      576.7
20      603.6
21      441.9
22      437.7
23      437.3
24      563.3
25      652.1
26      586.8
27      391.9
28      629.7
29      513.1
        ...
3303    540.4
3304    591.2
3305    637.1
3306    517.0
3307    598.6
3308    642.9
3309    700.4
3310    507.2
3311    619.3
3312    636.7
3313    437.9
3314    544.3
3315    441.3
3316    603.5
3317    596.8
3318    617.9
3319    606.2
3320    456.5
3321    489.0
3322    767.1
3323    594.7
3324    561.2
3325    553.6
3326    570.3
3327    545.8
3328    650.8
3329    575.8
3330    661.5
3331    512.6
3332    741.7
Name: Total Mins, Length: 3333, dtype: float64

In [68]:
data["Total Calls"]=data["Day Calls"]+data["Night Calls"]+data["Eve Calls"]
data["Total Calls"]

0       300
1       329
2       328
3       248
4       356
5       317
6       314
7       269
8       267
9       292
10      331
11      369
12      295
13      278
14      245
15      292
16      304
17      346
18      239
19      252
20      343
21      274
22      289
23      310
24      273
25      303
26      342
27      241
28      295
29      316
       ...
3303    307
3304    334
3305    298
3306    335
3307    297
3308    256
3309    309
3310    306
3311    301
3312    333
3313    320
3314    275
3315    310
3316    315
3317    297
3318    355
3319    326
3320    311
3321    362
3322    299
3323    279
3324    301
3325    296
3326    307
3327    294
3328    286
3329    235
3330    258
3331    326
3332    272
Name: Total Calls, Length: 3333, dtype: int64

In [69]:
data.shape

(3333, 23)

# Generacion Aleatoria de números

In [70]:
import numpy as np

In [74]:
np.random.randint(1,100)##generar un num aleatorio entre 1y100

37

In [76]:
##aleatorio decimal entre 1y100
np.random.random()

0.09870533984113261

In [82]:
##funcion q genere una lista de numeros aleatorios entero dentro del intervalo (a,b)

def randint_list(n,a,b): 
    x=[]
    for i in range(8):
        x.append(np.random.randint(a,b))
    return x


randint_list(10,1000,2000)

[1727, 1465, 1826, 1158, 1668, 1680, 1080, 1583]

In [85]:
import random

for i in range(10):
    print (random.randrange(1,100,7))

50
92
85
71
50
57
99
92
99
1

#Shuffling

In [87]:
a=np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [91]:
np.random.shuffle(a)
a

array([47, 58, 69, 81, 67, 51, 39, 34, 36, 70, 91, 98, 19,  8, 87, 90,  9,
       62, 99, 80, 50, 56,  7,  6, 75, 72, 41, 48, 89, 40, 71, 97,  2, 14,
        5, 61, 73,  3, 68, 74, 12, 78, 66, 95, 77, 45,  1, 53, 35, 13,  4,
       43, 88, 10, 79, 15, 63, 84, 60, 30, 49, 96, 27, 21, 29, 17, 52, 42,
       64, 18, 59, 16, 55, 65, 37, 20, 24, 33, 32, 44, 83, 46, 26, 38, 28,
       11, 85, 23, 31, 82, 86, 93, 76, 54, 57, 94, 22, 92, 25,  0])

In [93]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,False.,707.2,300
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,False.,611.5,329
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356

In [94]:
data.shape

(3333, 23)

In [95]:
column_list=data.columns.values.tolist()
column_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?',
 'Total Mins',
 'Total Calls']

In [98]:
np.random.choice(column_list)

'Account Length'