# Agregacion de datos por Categorias

In [3]:
import numpy as np
import pandas as pd

In [4]:
gender=["Male","Female"]
income=["Poor","Middle Class","Rich"]

In [5]:
n=500

gender_data=[]
income_data=[]

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [9]:
#z->n(0,1)
#N(m,s)->m+s*Z
height=160+30*np.random.randn(n)
weight=65+25*np.random.randn(n)
age=30+12*np.random.randn(n)
income=18000+3500*np.random.randn(n)

In [10]:
data=pd.DataFrame(
    {
        "Gender":gender_data,
        "Economic Status":income_data,
        "Height":height,
        "Weight":weight,
        "Age":age,
        "income":income
    }
)

In [11]:
data.head()

   Gender Economic Status      Height     Weight        Age        income
0    Male            Poor  172.759786  62.809355  51.138243  17076.727173
1  Female            Rich  136.890113  37.635623  30.135668  15536.656648
2  Female    Middle Class  185.089930  70.244688  31.385018  18098.538441
3    Male    Middle Class  181.970509  49.373413  23.141827  17818.320608
4    Male            Poor  133.481669  69.373896  37.495849  20040.754864